<div ng-controller="dashboardCtrl">
   <div class="imgpositon"> 
      <img src="../../resource/user_pic.jpg" class="img-thumbnail" width="auto" height="100px">
   </div>
   <ul class="nav nav-tabs navbar-inverse nav-stacked"">
      <li ng-if="admin || employee"><a href="/user/profile">Profile</a></li>
      <li ng-if="admin"><a href="/user/project">Project</a></li>
      <li ng-if="admin"><a href="/user/employee">Employee</a></li>
      <li ng-if="admin"><a href="/user/assign">Assign Task</a></li>
      <li ng-if="employee"><a href="/user/projects">Projects</a></li>
      <li ng-if="employee"><a href="/user/task">My Project</a></li>
      <li ng-if="employee"><a href="/user/notification">Notification</a></li>
      <li ng-if="employee"><a href="/user/team">Team Members</a></li>
   </ul>
</div>