<style>
    #details input {
        border: none;
    }
</style>
<div ng-controller="employeeCtrl">
    <br>
    <div>
        <button class="btn btn-info" ng-click="addRecord()" type="button">Add employee</button>
    </div><br>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="content" placeholder="search">
        <span class="input-group-btn">
            <button class="btn btn-info" ng-click="search(content)" type="button">Search</button>
          </span>
    </div><br>


    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr bgcolor="sky-blue">
                    <th>Emlpoyee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Department</th>
                    <th>Skills</th>
                    <th>Employee Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName+" "+employee.lastName}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.skills}}</td>
                    <td>{{employee.type}}</td>
                    <td align="right">
                        <button class="btn btn-primary" title="show employee" ng-click="showDetail(employee.id)"><span class="glyphicon glyphicon-eye-open"></span></button>
                        <button class="btn btn-primary" title="update employee" ng-click="updateDetail(employee.id)"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-primary" title="delete employee" ng-click="delete(employee.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr bgcolor="#626c7c">
                    <td colspan="2"><button class="btn btn-info" ng-disabled="preBtnStatus" ng-click="getPreviousEmployee()">Previous</button></td>
                    <td colspan="2" bgcolor="white" align="center"><b>[{{begin}}-{{end}}] of {{total}}</b></td>
                    <td colspan="2" align="right"><button class="btn btn-info" ng-disabled="nextBtnStatus" ng-click="getNextEmployee()">Next</button></td>
                </tr>
            </tfoot>
        </table>



        <div id="details" ng-show="detailsDivStatus">
            <hr style="border-width: 3px;border-style: inset;">
            <h2 ng-show="saveBtnStatus"><b>Add new record </b></h2>
            <h2 ng-show="updateBtnStatus"><b>Update your record</b></h2>
            <h2 ng-show="!saveBtnStatus && !updateBtnStatus"><b>Employee Details</b></h2>
            <form>
                <div class="form-group" ng-show="idStatus">
                    <label><h3>Employee Id</h3></label>
                    <input class="form-control" type="text" ng-model="id" ng-init="id='{{employee.id}}'" value="{{employee.id}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group">
                    <label><h3>Employee Name</h3></label>
                    <input class="form-control" type="text" ng-model="empName" ng-init="empName='{{employee.firstName+employee.lastName}}'" value="{{employee.firstName+employee.lastName}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group">
                    <label><h3>Employee Department</h3></label>
                    <input class="form-control" type="text" ng-model="empDepartment" ng-init="empDepartment='{{employee.department}}'" value="{{employee.department}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group">
                    <label><h3>Employee Skills</h3></label>
                    <input class="form-control" type="text" ng-model="empSubjects" ng-init="empSubjects='{{employee.skills}}'" value="{{employee.skills}}" ng-disabled="inputStatus">
                </div>
                <div class="form-group">
                    <label><h3>Employee Type</h3></label>
                    <input class="form-control" type="text" ng-model="employeeType" ng-init="employeeType='{{employee.type}}'" value="{{employee.type}}" ng-disabled="inputStatus">
                </div>
                <button type="submit" class="btn btn-primary" ng-show="saveBtnStatus" ng-click="save()">Save</button>
                <button type="submit" class="btn btn-primary" ng-show="updateBtnStatus" ng-click="update(employee.id)">Update</button>
                <button class="btn btn-primary" ng-show="saveBtnStatus || updateBtnStatus" ng-click="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>
