<div ng-controller='userSignupCtrl'>
 <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">RestApi</a>
         </div>
         <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ul>
      </div>
   </nav>
   <br>
   <h3 class="well">User Sign Up</h3>
   <div class="col-lg-12 well">
      <div class="row">
         <form name="userRegistrationForm">
            <div class="col-sm-12">
               <div class="row">
                  <div class="col-sm-6 form-group">
                     <label>First Name</label>
                     <input type="text" placeholder="Enter First Name Here.." ng-model="firstName" class="form-control" ng-required="true">
                  </div>
                  <div class="col-sm-6 form-group">
                     <label>Last Name</label>
                     <input type="text" placeholder="Enter Last Name Here.." ng-model="lastName"  class="form-control" ng-required="true">
                  </div>
               </div>
               <div class="form-group">
                  <label>Company Name</label>
                  <input type="text" placeholder="Enter Company Name Here.."  ng-model="companyName" class="form-control" ng-required="true">
               </div>
               <div class="form-group">
                  <label>Email Address</label>
                  <input type="email" placeholder="Enter Email Address Here.."  ng-model="email" class="form-control" ng-required="true">
               </div>
               <div class="row">
               <div class="col-sm-6 form-group">
                  <label>Department</label>
                  <select class="form-control" ng-required="true" ng-model="department">
                     <option value="Systems Engineer">Systems Engineer</option>
                     <option value="Senior Systems Engineer">Senior Systems Engineer</option>
                     <option value="Technology Analyst">Technology Analyst</option>
                     <option value="Technology Lead">Technology Lead</option>
                     <option value="Project Manager">Project Manager</option>
                  </select>
               </div>
               <div class="col-sm-6 form-group">
                  <label>Type</label>
                   <select class="form-control" ng-required="true" ng-model="type">
                     <option value="Admin">Admin</option>
                     <option value="Manager">Manager</option>
                     <option value="Super Employee">Super Employee</option>
                     <option value="Employee">Employee</option>
                  </select>
               </div>
               </div>
               <div class="form-group">
                  <label>Add your Skills</label>
                   <div class="input-group">
                      <input type="text" class="form-control" ng-model="newSkill" placeholder="add your skills">
                     <span class="input-group-btn">
                     <button class="btn btn-secondary" type="button" ng-click="addSkill()">Add</button>
                     </span>
                     </div>
                     <ul style="list-style-type: none">
                        <li ng-repeat="skill in skills" class="list-group-item list-group-item-info">
                        <span class="glyphicon glyphicon-remove" ng-click="deleteSkill($index)"></span>
                        <span>{{skill}}</span>
                        </li>
                     </ul>
               </div>
               <div class="row">
                  <div class="col-sm-6 form-group">
                     <label>Password</label>
                     <input type="password" placeholder="Enter Password Here.." ng-model="password"  class="form-control" ng-required="true">
                  </div>
                  <div class="col-sm-6 form-group">
                     <label>Confirm Password</label>
                     <input type="password" placeholder="Please Confirm Password Here.." ng-model="confirmPassword"  class="form-control" ng-required="true">
                  </div>
               </div>
               <div class="row">
               <div class="col-sm-6 form-group">
               <button type="button" ng-disabled="userRegistrationForm.$invalid" class="btn btn-lg btn-info btn-block" ng-click="signupUser()">Submit</button>
               </div>
               <div class="col-sm-6 form-group">
               <button type="button" class="btn btn-lg btn-info btn-block" ng-click="cancel()">Cancel</button>	
               </div>				
               </div>
            </div>
         </form>
      </div>
   </div>
</div>