<div ng-controller="assignCtrl">
   <div class="container-fluid">
      <form name="assignproject">
         <table class="table table-hover">
            <tr>
               <th colspan="2">Assign Project to Employee</th>
            </tr>
            <tr>
               <td>Employee Name*</td>
               <td>
                  <input class="form-control" list="users" ng-model="userId" ng-change="refreshEmployeeId()">
                <datalist id="users">
                  <option ng-repeat="user in users" value="{{user.id}}">{{user.firstName+" "+user.lastName}}({{user.email}})</option>
                </datalist><br>

                  <!-- <select class="form-control" name="userdrpdwn" ng-required="true" ng-model="userId">
                     <option ng-repeat="user in users" value="{{user.id}}">{{user.firstName+" "+user.lastName}}({{user.email}})</option>
                  </select>
                  <span ng-show="assignproject.userdrpdwn.$touched && assignproject.userdrpdwn.$invalid">*The employee name is required.</span> -->
               </td>
            </tr>
            <tr>
               <td>Project Name*</td>
               <td>
               <input class="form-control" list="projects"  ng-model="projectId" ng-change="refreshProjectId()">
               <datalist id="projects">
                  <option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectTitle}}</option>
                </datalist> 
                  <!-- <select class="form-control" name="projectdrpdwn" ng-required="true" ng-model="projectId">
                     <option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectTitle}}</option>
                  </select>
                  <span ng-show="assignproject.projectdrpdwn.$touched && assignproject.projectdrpdwn.$invalid">*The project name is required.</span> -->
               </td>
            </tr>
            <tr>
               <td colspan="2"><button  class="form-control" ng-click="assign()" ng-disabled="assignproject.$invalid">Assign</button></td>
            </tr>
         </table>

         <!-- Employee Name*
          <input class="form-control" list="users" ng-model="searchUser" ng-change="refreshEmployeeId()">
                <datalist id="users">
             			<option ng-repeat="user in users" value="{{user.id}}">{{user.firstName+" "+user.lastName}}({{user.email}})</option>
            		</datalist><br> -->
         <!-- Project Name*
          <input class="form-control" list="projects"  ng-model="searchProject" ng-change="refreshProjectId()">
               <datalist id="projects">
             			<option ng-repeat="project in projects" value="{{project.projectId}}">{{project.projectTitle}}</option>
            		</datalist>  -->
      </form>
   </div>
</div>